@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("variables.css");

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  min-width: 280px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
}

.title, .sub-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding-right: 20px;
  min-height: 50px;
  background-color: var(--color-primary-0);
}
#navbar a {
  text-decoration: none;
  color: #000;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  background-image: linear-gradient(106deg, #aaa 0%, #666 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcome-section .title {
  font-size: 3rem;
  font-weight: 300;
}
#welcome-section .sub-title {
  font-size: 2.5rem;
  font-weight: 200;
}

#projects {
  padding: 15px 0;
  background-color: var(--color-primary-1);
  background-image: linear-gradient(
    286deg,
    var(--color-primary-1) 0%,
    var(--color-primary-0) 100%
  );
}
#projects .title {
  text-align: center;
  margin-bottom: 15px;
}
#project-tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}
.project-tile {
  width: 275px;
  height: auto;
  background-color: #ccc;
  text-align: center;
  border: 1px solid #444;
}
.project-tile .screenshot-img {
  width: 100%;
  height: auto;
}
.project-tile .screenshot img:hover {
    transform: scale(1.1);
}
.project-tile .title {
  font-size: 1.1rem;
  font-weight: 300;
}
.project-tile .github-repo-link {
  font-size: 1.5rem;
}

#contact-section {
    padding-top: 20px;
    background-color: #fff;
    background-image: linear-gradient(106deg, #aaa 0%, #666 100%);
}
#contact-section .title {
    font-size: 2.5rem;
    font-weight: 300;
}
#contact-section .sub-title {
  font-size: 2rem;
  font-weight: 200;
}
#contact-link-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-link {
    margin-top: 20px;
    font-size: 1.5rem;
}

@media screen {
}
