@import './variables';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('./fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #000;
  margin: 0;
  padding: 0;
  min-width: 320px;
  section {
    min-height: 100vh;
    padding-top: $navbar-height;
  }
  h1 {
    font-size: 2em; // restores default h1 font-size
  }
}

.title,
.sub-title {
  margin: 0;
}
.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.sub-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@media screen and (min-width: 1000px) {
  .title {
    font-size: 3em;
    font-weight: 300;
  }
  .sub-title {
    font-size: 2em;
    font-weight: 100;
  }
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 20px;
  min-height: $navbar-height;
  background-color: $color-primary-4;
  a {
    text-decoration: none;
    color: #fff;
  }
}

#welcome-section {
  background: linear-gradient(
    135deg,
    $color-primary-4 0%,
    $color-primary-0 30%,
    $color-primary-0 70%,
    $color-primary-4 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  #icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    .icon {
      font-size: 1.7em;
      margin-top: 5px;
    }
  }
}

#projects-section {
  $gap: 20px;
  background: linear-gradient(
    45deg,
    $color-primary-4 0%,
    $color-primary-0 30%,
    $color-primary-0 70%,
    $color-primary-4 100%
  );
  padding-bottom: $gap;
  & > .title {
    margin: $gap 0 $gap 0;
    // color: #fff;
  }
  #project-tiles-wrapper {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: stretch;
    gap: $gap;
    .project-tile {
      max-width: 294px;
      max-height: 228px;
      background-color: #fff;
      box-shadow: 0 3px 8px 1px #000;
      border-radius: 0.5em;
      padding-bottom: 5px;
      place-self: center;
      overflow: hidden;
      display: grid;
      grid-template-rows: 4fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      .screenshot {
        width: 100%;
        height: auto;
        grid-column: span 2;
        place-self: stretch;
      }
      .sub-title {
        font-size: 1.5em;
        grid-column: span 2;
        place-self: center;
      }
      .link-button {
        font-size: 1em;
        min-width: 5rem;
        display: inline-block;
        background-color: $color-complement-0;
        color: #fff;
        padding: 0.5em 0;
        border-radius: 0.5em;
        cursor: pointer;
        place-self: center;
      }
    }
  }
}
@media screen and (max-width: 745px) {
  #projects-section {
    height: auto;
    #project-tiles-wrapper {
      grid-template-columns: 1fr;
    }
  }
}

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(
    135deg,
    $color-primary-4 0%,
    $color-primary-0 30%,
    $color-primary-0 70%,
    $color-primary-4 100%
  );
  #contact-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    .contact-link {
      font-size: 1em;
      color: #000;
    }
  }
}
