$color-primary-0: #228b22; /* Main Primary color */
$color-primary-1: #68c468;
$color-primary-2: #3ca43c;
$color-primary-3: #0c700c;
$color-primary-4: #004d00;
$color-complement-0: #ae2a2a; /* Main Complement color */
$color-complement-1: #f58282;
$color-complement-2: #cc4b4b;
$color-complement-3: #8b0f0f;
$color-complement-4: #600000;

$navbar-height: 50px;
